
$theme-colors: (
  "primary": #ffa000,
  'dark': #333333
);

@import "../node_modules/bootstrap/scss/bootstrap";

header{
  max-width: 1600px;
  z-index: 1;
}

.navbar{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  @media only screen and (max-width: 991px) {
    background-color: #000!important;
  }
}


.navbar-brand{
  font-family: FoxGrotesqueProLt;
  font-size: 30px;
}

.fa,
.navbar .navbar-nav .nav-link{
  color: #fefefe;
}

.fa{
  font-size: 15px;
  position: relative;
  &:after{
    content:"";
    position: absolute;
    bottom: -8px;
    left: calc(50% - 1.5px);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fefefe;
  }
}

.navbar-nav-main .nav-link{
  padding: 0 15px!important;
  font-size: 18px;
  letter-spacing: 1.8px;
}

.social-link{
  padding: 0 10px!important;
}

body{
  font-family:FoxGrotesquePro;
  color: #fefefe;
}

@media only screen and (max-width: 991px) {
  .last-row .col-12 {
    justify-content: center!important;
  }
}
  

.main-container{
  background-image: url("../img/1.png");
  background-size: cover;
  padding-top: 100px;
  &:after{
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    position: fixed;
    height: 300px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 35%);
    z-index: -2;
  }
}

.modal{
  color: #333;
}

.btn{
  border-radius: 19px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.32);
  color: #333;
  &-lg{
     border-radius: 22.5px;
  }
  &-custom{
    position: relative;
    z-index: 1;
    &::before{
      background-color: #eb9403;
      content: "";
      border-radius: 22.5px;
      width: calc(100% - 100%/5);
      height: 100%;
      left: calc(100%/5);
      top: 0;
      position: absolute;
      z-index: -2;
    }
    &::after{
      background-color: #d88906;
      content: "";
      border-radius: 22.5px;
      width: calc(100%/3);
      height: 100%;
      left: calc(100%/3*2);
      top: 0;
      position: absolute;
      z-index: -1;
    }
  }
}

h1,
h2{
  font-family: 'Cormorant', serif;
  font-weight: bold;
}

h1{
  font-size: 170px;
  @media only screen and (max-width: 991px) {
    font-size: 100px;
  }
}

h2{
  font-size: 120px;
  text-shadow: 0 0 29px rgba(0, 0, 0, 0.64);
  @media only screen and (max-width: 991px) {
    font-size: 40px;
  }
}

h3{
  font-size: 30px;
  font-weight: normal;
  @media only screen and (max-width: 991px) {
    font-size: 20px;
  }
}

h4{
  font-size: 22px;
  font-weight: normal;
  line-height: 1.09;
  @media only screen and (max-width: 991px) {
    font-size: 18px;
  }
}

h5{
  font-size: 20px;
  font-weight: normal;
  @media only screen and (max-width: 991px) {
    font-size: 16px;
  }
}

p{
  font-size: 16px;
  line-height: 1.13;
  @media only screen and (max-width: 991px) {
    font-size: 14px;
  }
}

.border-2 {
    border-width:2px !important;
}


canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 100px;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}