@font-face {
    font-family: FoxGrotesqueProLt;
    src: url("Fox Grotesque Pro Light.otf") format("opentype");
}
@font-face {
    font-family: FoxGrotesquePro;
    src: url("Fox Grotesque Pro.otf") format("opentype");
}
